@page "/speak"

<PageTitle>Text-to-speech</PageTitle>

<MudText Typo="Typo.h4" GutterBottom="true">Text-to-speech</MudText>

<MudText Typo="Typo.body1" Class="mb-4">
    This page demonstrates the source generated <code>Blazor.SpeechSynthesis.WebAssembly</code> package.
</MudText>

<MudGrid>
    <MudItem xs="12" md="8">
        <div class="d-flex align-items-center gap-2 mb-3">
            <MudSelect T="string" @bind-Value="_selectedVoice" 
                       Label="Voice selection" 
                       Variant="Variant.Outlined"
                       Disabled="@(_voices?.Any() is false)"
                       Style="flex: 1;">
                @foreach (var voice in _voices ?? Array.Empty<SpeechSynthesisVoice>())
                {
                    <MudSelectItem Value="@voice.Name">@voice.Name</MudSelectItem>
                }
            </MudSelect>
            <MudIconButton Icon="Icons.Material.Filled.Refresh"
                          Color="Color.Primary"
                          OnClick="@(async () => await GetVoicesAsync())">
                          Refresh voices?
            </MudIconButton>
        </div>

        <MudText Typo="Typo.subtitle1" Class="mb-2">Voice speed: @_voiceSpeed</MudText>
        <MudSlider @bind-Value="_voiceSpeed"
                   Min="@_voiceSpeeds.Min()"
                   Max="@_voiceSpeeds.Max()"
                   Step="0.25"
                   Color="Color.Primary"
                   Class="mb-4" />

        <MudTextField @bind-Value="_text"
                     T="string"
                     Label="@($"Text-to-speech {(_elapsedTimeMessage is { Length: > 0 } ? $"({_elapsedTimeMessage})" : "")}")"
                     Variant="Variant.Outlined"
                     Lines="3"
                     FullWidth="true"
                     Class="mb-4" />

        <MudButtonGroup Variant="Variant.Filled" Size="Size.Large">
            <MudButton Color="Color.Primary" 
                      StartIcon="@Icons.Material.Filled.VolumeUp"
                      OnClick="Speak">
                Speak
            </MudButton>
            <MudButton Color="Color.Warning" 
                      StartIcon="@Icons.Material.Filled.Pause"
                      OnClick="speechSynthesis.Pause">
                Pause
            </MudButton>
            <MudButton Color="Color.Info" 
                      StartIcon="@Icons.Material.Filled.PlayArrow"
                      OnClick="speechSynthesis.Resume">
                Play
            </MudButton>
            <MudButton Color="Color.Error" 
                      StartIcon="@Icons.Material.Filled.Stop"
                      OnClick="speechSynthesis.Cancel">
                Stop
            </MudButton>
        </MudButtonGroup>
    </MudItem>
</MudGrid>